<a href="https://colab.research.google.com/github/ashutoshparajuli/flight-fare-prediction/blob/master/ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Loading the dataset

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/goodluck08/practice_dataset/main/flight_data.csv")

Looking into the dataset

In [ ]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302

How many rows and the columns does our dataset have?

In [ ]:
df.shape

(10683, 11)

Does the dataset contain any missing values?

In [ ]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

There are two records of missing datas. We can drop the missing data since the missing data is very few.

In [ ]:
df.dropna(inplace=True)

Validating the data to see if we have any missing data.

In [ ]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

# Labelling data for further analysis

Checking the information about the data like number of columns, data types, column names.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

Here we can see that the Price column is the only column with integer value and every other column has an object data type.

In [ ]:
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

We will seperate the Date_of_Journey to create two seperate columns including day and month using pd.to_datetime function, which will have integer values.

In [ ]:
df['Flight_Day'] =pd.to_datetime(df.Date_of_Journey, format = '%d/%m/%Y').dt.day
df['Flight_Month'] =pd.to_datetime(df.Date_of_Journey, format = '%d/%m/%Y').dt.month

Similarly, we will seperate the Dep_Time to create two seperate columns including Flight_hour and Flight_minute using pd.to_datetime function, which will have integer values.

In [ ]:
df['Flight_hour'] = pd.to_datetime(df.Dep_Time).dt.hour
df['Flight_mins'] = pd.to_datetime(df.Dep_Time).dt.minute

Similarly, we will seperate the Arrival_Time to create two seperate columns including arrival_hour and arrival_minute using pd.to_datetime function, which will have integer values.

In [ ]:
df['arrival_hour'] = pd.to_datetime(df.Arrival_Time).dt.hour
df['arrival_mins'] = pd.to_datetime(df.Arrival_Time).dt.minute

Removing the Date_of_Journey and Dep_Time column from master data using inplace=True

Also, we can remove arrival time is not required because we have departure values and duration values.

In [ ]:
df.drop(columns=['Date_of_Journey', 'Dep_Time', 'Arrival_Time'], inplace =True)

Checking to see if the Duration data follows similar format of hour and minute.

In [ ]:
df['Duration'].unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

Here we can see that some data have only hour and some have only minute. We need to have similar format across the data. 

Converting duration time column into a list named duration to apply a for loop to the length of the duration to create a similar format of date and time.

In [ ]:
duration = list(df.Duration)
len(duration)

for i in range(len(duration)):
  if len(duration[i].split()) != 2:
    if 'h' in duration[i]:
      duration[i] = duration[i].strip() + " 0m " #adding minute to have same hour and minute format
    elif 'm' in duration[i]:
      duration[i] = "0h {}".format(duration[i].strip())

Now creating a separate list for hours and minutes and then storing them in respective variables as integers.

In [ ]:
duration_hours = []
duration_mins = []
for i in range(len(duration)):
  duration_hours.append(int(duration[i].split()[0][:-1])) #extracting hours
  duration_mins.append(int(duration[i].split()[1][:-1])) #extracting minutes

Creating the dataframe using these list and storing in our dataset.

In [ ]:
df['duration_hours'] = duration_hours
df['duration_mins'] = duration_mins

In [ ]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Flight_Day,Flight_Month,Flight_hour,Flight_mins,arrival_hour,arrival_mins,duration_hours,duration_mins
0,IndiGo,Banglore,New Delhi,BLR ? DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,19h,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,5h 25m,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,4h 45m,1 stop,No info,13302,1,3,16,50,21,35,4,45

Removing the Duration column from main dataset using axis = 1 which can be used when performing anything on column and inplace=True

In [ ]:
df.drop(['Duration'], axis=1,inplace=True)

Unique records in our dataset

In [ ]:
df['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

Here we will create any airline will less than 10 data value to replace as 'others'.

In [ ]:
df.Airline = df.Airline.apply(lambda x: x.strip())
airline_stats = df.Airline.value_counts(ascending=False)

In [ ]:
less_than_10 = airline_stats[airline_stats <= 10]
less_than_10

Jet Airways Business       6
Vistara Premium economy    3
Trujet                     1
Name: Airline, dtype: int64

In [ ]:
df.Airline = df.Airline.apply(lambda x: 'Other' if x in less_than_10 else x)
df.Airline.value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Other                                  10
Name: Airline, dtype: int64

In [ ]:
df.Route.head()

0                BLR ? DEL
1    CCU ? IXR ? BBI ? BLR
2    DEL ? LKO ? BOM ? COK
3          CCU ? NAG ? BLR
4          BLR ? NAG ? DEL
Name: Route, dtype: object

In [ ]:
df.Additional_Info.value_counts()

No info                         8344
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: Additional_Info, dtype: int64

In [ ]:
df.Total_Stops.value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

Here Route column and Total_Stops give similar info. Also the Additional_Info column contains 'No info' with almost 80% of the data. So it can be ignored.

In [ ]:
df.drop(columns=['Route', 'Additional_Info'], inplace=True)

The Total_Stops contains an ordinal category of value. So we will label the data accordingly.

In [ ]:
df.replace({"non-stop":0, "1 stop":1, "2 stops":2, "3 stops":3, "4 stops":0}, inplace=True)

In [ ]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,Flight_Day,Flight_Month,Flight_hour,Flight_mins,arrival_hour,arrival_mins,duration_hours,duration_mins
0,IndiGo,Banglore,New Delhi,0,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1,13302,1,3,16,50,21,35,4,45

We have labelled all the column except the first three columns. We use get_dummies to convert into dummy/indicator variables. The first value it gets will be true and another will be false. For instance, for one time it will only be IndiGo and not Air India.

In [ ]:
dfdummies = pd.get_dummies(data=df, columns=['Airline', 'Source', 'Destination'], drop_first=True)

In [ ]:
dfdummies.head()

,Total_Stops,Price,Flight_Day,Flight_Month,Flight_hour,Flight_mins,arrival_hour,arrival_mins,duration_hours,duration_mins,...,Airline_Vistara,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,22,20,1,10,2,50,...,0,0,0,0,0,0,0,0,0,1
1,2,7662,1,5,5,50,13,15,7,25,...,0,0,0,1,0,0,0,0,0,0
2,2,13882,9,6,9,25,4,25,19,0,...,0,0,1,0,0,1,0,0,0,0
3,1,6218,12,5,18,5,23,30,5,25,...,0,0,0,1,0,0,0,0,0,0
4,1,13302,1,3,16,50,21,35,4,45,...,0,0,0,0,0,0,0,0,0,1

# Dependent and Independent variable

Extracting Dependent and Independent variable. We need to predict the price so Price is dependent and everything else in independent. The independent features is kept in x and dependent in y.

In [ ]:
X = dfdummies.drop('Price', axis=1)
y = dfdummies['Price']

Now using Sklearn to split our dataset for training and testing with test size as 0.3 which means our train data will contain 70% of our data. (you can also use train_size instead of test_size)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

In [ ]:
X_train

,Total_Stops,Flight_Day,Flight_Month,Flight_hour,Flight_mins,arrival_hour,arrival_mins,duration_hours,duration_mins,Airline_Air India,...,Airline_Vistara,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
9639,0,24,6,19,35,21,55,2,20,0,...,0,1,0,0,0,0,0,0,1,0
5019,1,1,5,9,35,9,45,24,10,0,...,0,0,0,1,0,0,0,0,0,0
8291,1,9,5,20,25,14,25,18,0,0,...,0,0,0,1,0,0,0,0,0,0
9976,1,9,4,19,0,11,5,16,5,1,...,0,0,0,1,0,0,0,0,0,0
3990,2,21,5,14,30,12,30,22,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5515,1,3,6,11,55,22,30,10,35,0,...,0,0,1,0,0,1,0,0,0,0
6921,2,27,6,16,55,19,15,26,20,1,...,0,0,1,0,0,1,0,0,0,0
2553,2,24,3,9,50,23,15,37,25,1,...,0,0,0,1,0,0,0,0,0,0
5652,2,27,3,6,20,4,25,22,5,0,...,0,0,1,0,0,1,0,0,0,0
2776,2,21,3,19,10,18,50,23,40,0,...,0,0,1,0,0,1,0,0,0,0

In [ ]:
X_test

,Total_Stops,Flight_Day,Flight_Month,Flight_hour,Flight_mins,arrival_hour,arrival_mins,duration_hours,duration_mins,Airline_Air India,...,Airline_Vistara,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
3216,1,24,5,6,30,4,40,22,10,0,...,0,0,0,1,0,0,0,0,0,0
2769,1,9,4,9,15,1,30,16,15,0,...,0,0,1,0,0,1,0,0,0,0
6014,0,15,3,9,35,12,30,2,55,0,...,0,0,0,0,0,0,0,0,0,1
8476,1,3,6,10,0,19,0,9,0,0,...,0,0,1,0,0,1,0,0,0,0
4430,1,12,5,9,50,21,5,11,15,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7594,0,3,6,14,40,17,50,3,10,0,...,1,0,1,0,0,1,0,0,0,0
3513,1,1,4,16,30,19,50,27,20,0,...,0,0,0,1,0,0,0,0,0,0
1844,0,21,3,12,0,13,25,1,25,0,...,0,0,0,0,1,0,0,1,0,0
4912,2,9,3,21,30,19,15,21,45,1,...,0,0,1,0,0,1,0,0,0,0
4767,0,9,5,19,5,20,35,1,30,0,...,0,0,0,0,1,0,0,1,0,0

# Fitting the model

Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [ ]:
clf.predict(X_test)

array([10728.36584343,  8346.45146039,  6494.44685037, ...,
        2985.57884597, 12760.16869005,  3090.59944342])

In [ ]:
lvalue = clf.score(X_train, y_train)
lvalue

0.612151639196778

In [ ]:
lscore = clf.score(X_test, y_test)
lscore

0.5717105833410747

Decision Tree model

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from math import sqrt
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score

In [ ]:
depth = list(range(3,30))
param_grid = dict(max_depth = depth)
tree = GridSearchCV(DecisionTreeRegressor(), param_grid, cv = 10)
tree.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
                                       15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
                                       25, 26, 27, 28, 29]})

In [ ]:
y_train_pred = tree.predict(X_train)
y_test_pred = tree.predict(X_test)

In [ ]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [ ]:
print("Train Results for Decision Tree Regressor Model:")
print("Root Mean squared Error: ", sqrt(mse(y_train.values, y_train_pred)))
print("Mean Absolute % Error: ", round(mean_absolute_percentage_error(y_train.values, y_train_pred)))
print("R-Squared: ", r2_score(y_train.values, y_train_pred))

Train Results for Decision Tree Regressor Model:
Root Mean squared Error:  1672.7989140150298
Mean Absolute % Error:  13
R-Squared:  0.8658634771942326

In [ ]:
print("Test Results for Decision Tree Regressor Model:")
print("Root Mean Squared Error: ", sqrt(mse(y_test, y_test_pred)))
print("Mean Absolute % Error: ", round(mean_absolute_percentage_error(y_test, y_test_pred)))
print("R-Squared: ", r2_score(y_test, y_test_pred))

Test Results for Decision Tree Regressor Model:
Root Mean Squared Error:  2643.7090953635716
Mean Absolute % Error:  16
R-Squared:  0.6852246537615552

In [ ]:
decision_score = round(tree.score(X_train, y_train) * 100, 2)
decision_score_test = round(tree.score(X_test, y_test) * 100, 2)

Model Comparision

In [ ]:
models = pd.DataFrame({
    'Model': ['Decision Tree Regressor', 'Linear Regression'],
    'Score': [decision_score, lvalue ],
    'Test Score': [decision_score_test, lscore]})
models.sort_values(by='Test Score', ascending=False)

                     Model      Score  Test Score
0  Decision Tree Regressor  86.590000   68.520000
1        Linear Regression   0.612152    0.571711